body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
/* Add this to the bottom of 22b-main.css */

.sale {
  font-weight: bold;
  background-color: aqua;
}
