body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
/* Other existing styles above this line */

#sidenote {
  background-color: #dbd9d9;
}
