body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:#dbd9d9;
}
/* Normal state of links */
a {
    text-decoration: none; /* Removes the underline from links */
}

/* Hover state of links */
a:hover {
    text-decoration: underline; /* Underline on hover */
    font-weight: bold; /* Bold text on hover */
}
